.new-container {
    max-width: 1200px;
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end; 
    padding-right: 200px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 5px;
}

.page-message {
    max-width: 600px;
}

.page-message  h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.label-container {
    max-width: 600px;
}

.field-label {
    font-size: 18px;
    margin-bottom: 20px;
}

.field-input {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 4px;
    width: 100%; 
    margin-top: 10px;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

.add-image {
    justify-content: space-around;
    align-items: flex-start; 
}

.submit-card {
    background-color: #ddd;
    color: #000;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px;
    width: 150px;
    border-radius: 30px;
    transition: background-color 0.2s, color 0.2s;
}

.submit-card:hover {
    background-color: #000; 
    color: #fff;
}

.return-card {
    background-color: #ddd;
    color: #000;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    transition: background-color 0.2s, color 0.2s;
}

.return-card:hover {
    background-color: #000; 
    color: #fff;
}
