.reg-container {
    max-width: 1200px;
    margin-left: 100px;
    margin-top: 40px;
}

.reg-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.reg-form-title {
    max-width: 600px;
}

.reg-form-title  h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.reg-form-buttons {
    margin-top: 40px;
    display: flex;
    margin-left: 30px;
    gap: 10px;
}

.register {
    background-color: #ddd;
    color: #000;
    padding: 8px;
    border-radius: 30px;
    width: 150px;
    transition: background-color 0.2s, color 0.2s;
}

.register:hover {
    background-color: #000; 
    color: #fff;
}

.login {
    background-color: #ddd;
    color: #000;
    padding: 8px;
    width: 150px;
    border-radius: 30px;
    transition: background-color 0.2s, color 0.2s;
}

.login:hover {
    background-color: #000; 
    color: #fff;
}

.reg-field-group {
    margin-bottom: 15px; 
}

.reg_field-label {
    font-size: 18px;
    margin-left: 30px;
    color: #000;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px;
}

.reg-input {
    padding: 5px;
    margin-left: 30px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
}

.register-image {
    justify-content: space-around;
    align-items: flex-start; 
    margin-left: auto;
    height: 500px;
}

