.container {
    max-width: 1200px;
    margin-left: 100px;
    margin-top: 10px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.welcome-message {
    max-width: 600px;
}

.welcome-message  h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.info-container {
    max-width: 600px;
}

.fullName {
    font-size: 22px;
    margin-bottom: 10px;
}

.enter-name {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%; 
    min-width: 900px;
    box-sizing: border-box; 
}

.display-size {
    font-size: 18px;
    margin-bottom: 20px;
    min-width: 0; 
    max-width: 900px;
    width: 100%; 
    box-sizing: border-box; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
}

.bio-input {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%; 
    min-width: 900px;
    box-sizing: border-box; 
}

.label {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.email {
    font-size: 16px;
}

.address-input {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 4px;
    width: 100%; 
    min-width: 400px;
    box-sizing: border-box; 
    font-size: 16px;
    margin-bottom: 20px;
}

.add-container {
    display: flex;
    justify-content: flex-end; 
    width: 100%; 
    padding-right: 80px;
    z-index: 2;
}


.add-button {
    width: 70px; 
    height: 70px;
    background-color: #ddd;
    color: #000;
    border-radius: 50%; 
    font-size: 35px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.add-button:hover {
    background-color: #000000;
    color: #ffffff;
  }


.logout-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 100%; 
    padding-right: 40px;
    gap: 10px;
    z-index: 3;
}


.logout-button {
    width: 100px; 
    height: 40px;
    background-color: #ddd;
    color: #000;
    border-radius: 30px;
    font-size: 16px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, color 0.2s;
  }
  
.logout-button:hover {
    background-color: #000000;
    color: #ffffff;
  }

  @media (min-width: 1200px) {
    .display-size {
      width: 900px;
    }
  }

  @media (max-width: 768px) {
    .top-container {
        flex-direction: column;
    }

    .welcome-message{
        max-width: 100%; 
    }

    .info-container {
        max-width: 100%; 
    }

    .bio-input{
        min-width: 100%; 
    }

    .address-input {
        min-width: 100%; 
    }

    .add-button{
        width: 60px; 
        height: 60px;
    }

    .logout-button {
        width: 90px; 
        height: 30px;
    }

    .welcome-message h1 {
        font-size: 24px;
    }

    .container {
        margin-left: 5px;
        margin-right: 5px; 
    }

    .fullName{
        font-size: 16px; 
    }
    .emai{
        font-size: 16px; 
    }
    .label{
        font-size: 16px; 
    }
    .address-input {
        font-size: 16px; 
    }
}


